.linear {
    background: url('http://www.publicdomainpictures.net/pictures/220000/velka/blurred-background-1493393805mdF.jpg')


}
.stepper--vertical {
    padding-bottom: 36px;
    background: white;
    width: 75%;
}

.test {
      text-align: -webkit-center;
    color: white;
    position: relative;
    top: 6em;
}

.layout.row.justify-space-around {
    background: white;
}

.tabs__slider {
    position: absolute;
    bottom: 0;
    height: 4px;
    background: yellow;
}

.tabs__bar {
    background-color: white;
    width: 100%;
    position: relative;
    height: 60px;
}