<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Gestion des couleurs</title>


  <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons'>
  <link rel='stylesheet prefetch' href='../js/vuetify.min.css'>
  <link rel="stylesheet" href="
https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.9.1/sweetalert2.min.css">
  <meta name="viewport" content="width=device-width, user-scalable=no">

  <link rel="stylesheet" href="../css/style.css">
<style>
  a {
    text-decoration: none;
    color: black;
  }
  .btn {
    min-width: 0px!important;
  }
</style>

</head>

<body>
  <div id="app">
    <v-app id="inspire">
           <v-navigation-drawer persistent light  v-model="drawer">
        <v-list @click.native.stop="mini = !mini">
          <v-list-item>
            <v-list-tile>
              <v-list-tile-action>
                <v-icon>build</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>
                  <a href="../gestionGamme/gestionGammes.html">Gestion des gammes</a>
                </v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
          </v-list-item>
          <v-list-item>
            <v-list-tile>
              <v-list-tile-action>
                <v-icon>invert_colors</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>
                 <a href="../gestionCouleur/gestionCouleur.html"> Gestion des couleurs</a>
                </v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
          </v-list-item>



           <v-divider></v-divider>
          <v-list-item>
            <v-list-tile>
              <v-list-tile-action>
                <v-icon>note_add</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>
                  <a href="../gestionProduit/gestionProduit.html"> Gestion des produits</a>
                </v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
          </v-list-item>

          <v-list-tile>
            <v-list-tile-action>
              <v-icon>store</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>
                <a href="../gestionCommande/gestionCommande.html">Suivi des commandes</a>
              </v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          </v-list-item>
           
        </v-list>
             <v-list-tile>
               <v-list-tile-action>
                 <v-icon>record_voice_over</v-icon>
               </v-list-tile-action>
               <v-list-tile-content>
                 <v-list-tile-title>
                   <a href="../gestionReclamation/gestionReclamation.html">Réclamations</a>
                 </v-list-tile-title>
               </v-list-tile-content>
             </v-list-tile>

             <v-list-tile>
               <v-list-tile-action>
               </v-list-tile-action>
               <v-list-tile-content>
                 <v-list-tile-title>
                   <v-btn @click.native="exportClientToCsv()">Export des clients</v-btn>
                 </v-list-tile-title>
               </v-list-tile-content>
             </v-list-tile>
      </v-navigation-drawer>
      <v-toolbar fixed class="grey darken-3" light>
        <v-toolbar-side-icon light @click.native.stop="drawer = !drawer"></v-toolbar-side-icon>
        <v-toolbar-title>Gestion des couleurs</v-toolbar-title>
      </v-toolbar>
      <template>
        <main class="linear">
          <v-container fluid>

            <v-list style="    background: white;
    color: black;">
              <v-list-group v-for="item in couleursList" :value="item.value" v-bind:key="item.name">
                <v-list-tile slot="item">

                  <v-list-tile-content>
                    <v-list-tile-title>
                    {{item.nom}} - {{item.value}}<button  style="width: 100%; height: 5px; margin-left: 30px;" v-bind:style="{background : item.value}"></button></v-list-tile-title>
                  </v-list-tile-content>
                          <v-btn class="grey--text darken-1" flat @click.native="showDeleteModal($event, item)"><i class="material-icons">delete</i></v-btn>
                  <v-dialog v-model="deleteModal">
                    <v-card>
                      <v-card-text>Souhaitez vous réellement supprimer cette couleur ? </v-card-text>
                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="green darken-1" flat="flat" @click.native="deleteCouleur()">Confimer</v-btn>
                        <v-btn color="green darken-1" flat="flat" @click.native="deleteModal = false">Annuler</v-btn>
                      </v-card-actions>
                    </v-card>
                  </v-dialog>

              </v-list-group>
            </v-list>
            <v-dialog v-model="dialog">

              <v-btn style="    position: fixed;
    right: 30px;
    bottom: 30px;" slot="activator" floating class="grey darken-2">
                <v-icon light>add</v-icon>
              </v-btn>
              <v-card>
                <v-card-row>
                  <v-card-title>Ajouter une couleur</v-card-title>
                </v-card-row>
                <v-card-row>
                  <v-card-text>
                    <v-text-field
                            label="Nom"
                            v-model="couleur.nom"
                            required
                    ></v-text-field>
                    <input type="color" id="color" value="couleur.value" name="couleur.name" v-model="couleur.value">
                  </v-card-text>
                </v-card-row>
                <v-card-row actions>
                  <v-btn class="blue--text darken-1" flat @click.native="dialog = false">Annuler</v-btn>
                  <v-btn class="blue--text darken-1" flat @click.native="addCouleur()">Enregistrer</v-btn>
                </v-card-row>
              </v-card>
            </v-dialog>
            </v-card>
          </v-container>
        </main>
      </template>
    </v-app>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script src='https://unpkg.com/vue/dist/vue.js'></script>
  <script src='../js/vuetify.min.js'></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.9.1/sweetalert2.min.js"></script>
  <script src="https://cdn.jsdelivr.net/vue.resource/1.2.0/vue-resource.min.js"></script>
  <script src="gestionCouleur.js"></script>

</body>

</html>