<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Gestion des réclamations</title>


    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons'>
    <link rel='stylesheet prefetch' href='../js/vuetify.min.css'>
    <link rel="stylesheet" href="
https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.9.1/sweetalert2.min.css">
    <meta name="viewport" content="width=device-width, user-scalable=no">

    <link rel="stylesheet" href="../css/style.css">
    <style>
        a {
            text-decoration: none;
            color: black;
        }
        .btn {
            min-width: 0px!important;
        }
    </style>

</head>

<body>
<div id="app">
    <v-app id="inspire">
        <v-navigation-drawer persistent light  v-model="drawer">
            <v-list @click.native.stop="mini = !mini">
                <v-list-item>
                    <v-list-tile>
                        <v-list-tile-action>
                            <v-icon>build</v-icon>
                        </v-list-tile-action>
                        <v-list-tile-content>
                            <v-list-tile-title>
                                <a href="../gestionGamme/gestionGammes.html">Gestion des gammes</a>
                            </v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                </v-list-item>
                <v-list-item>
                    <v-list-tile>
                        <v-list-tile-action>
                            <v-icon>invert_colors</v-icon>
                        </v-list-tile-action>
                        <v-list-tile-content>
                            <v-list-tile-title>
                                <a href="../gestionCouleur/gestionCouleur.html"> Gestion des couleurs</a>
                            </v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                </v-list-item>



                <v-divider></v-divider>
                <v-list-item>
                    <v-list-tile>
                        <v-list-tile-action>
                            <v-icon>note_add</v-icon>
                        </v-list-tile-action>
                        <v-list-tile-content>
                            <v-list-tile-title>
                                <a href="../gestionProduit/gestionProduit.html"> Gestion des produits</a>
                            </v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                </v-list-item>

                <v-list-tile>
                    <v-list-tile-action>
                        <v-icon>store</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title>
                            <a href="../gestionCommande/gestionCommande.html">Suivi des commandes</a>
                        </v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
                <v-list-tile>
                    <v-list-tile-action>
                        <v-icon>record_voice_over</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title>
                            <a href="../gestionReclamation/gestionReclamation.html">Réclamations</a>
                        </v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
                <v-list-tile>
                    <v-list-tile-action>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title>
                            <v-btn @click.native="exportClientToCsv()">Export des clients</v-btn>
                        </v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
                </v-list-item>

            </v-list>
        </v-navigation-drawer>
        <v-toolbar fixed class="grey darken-3" light>
            <v-toolbar-side-icon light @click.native.stop="drawer = !drawer"></v-toolbar-side-icon>
            <v-toolbar-title>Gestion des réclamations</v-toolbar-title>
        </v-toolbar>
        <template>
            <main class="linear">
                <v-container fluid>
                    <template>
                        <v-card>
                            <v-card-title>
                                Liste des réclamations
                                <v-spacer></v-spacer>
                                <v-text-field
                                        append-icon="search"
                                        label="Rechercher"
                                        single-line
                                        hide-details
                                        v-model="search"
                                ></v-text-field>
                            </v-card-title>
                            <v-data-table
                                    v-bind:headers="headers"
                                    v-bind:items="items"
                                    v-bind:search="search"
                            >
                                <template slot="items" scope="props">
                                    <td class="text-xs-right">{{ props.item.from }}</td>
                                    <td class="text-xs-right">{{ props.item.category }}</td>
                                    <td class="text-xs-right">{{ props.item.formatted_date }}</td>
                                    <td class="text-xs-right"> <v-dialog width="500px" v-model="dialog" persistent>
                                        <v-btn @click.native="getCurrentDemands(props.item)" default dark slot="activator">Traiter</v-btn>
                                        <v-card>
                                            <v-card-title class="headline">Référence commande : {{props.item.orderReference}}</v-card-title>
                                            <v-card-text>
                                                <v-list subheader>
                                                    <v-subheader>Détails de la réclamation</v-subheader>
                                                    <v-list-tile>
                                                        <v-list-tile-content>
                                                            {{currentDemands.message}}
                                                        </v-list-tile-content>
                                                    </v-list-tile>
                                                    <br>
                                                    <v-text-field
                                                            name="input-7-4"
                                                            label="Message de réponse *"
                                                            v-model="mail.message"
                                                            value="Décrivez votre réponse en détail..."
                                                            multi-line
                                                    ></v-text-field>
                                                    </v-flex>
                                                    <small>* champs obligatoires</small>
                                                </v-list>
                                            </v-card-text>
                                            <v-card-actions>
                                                <v-spacer></v-spacer>
                                                <v-btn color="green darken-1" flat @click.native="dialog = false, mail.message = ''">Fermer</v-btn>
                                                <v-btn color="green darken-1" flat @click.native="sendMailResponse()">Envoyer</v-btn>
                                            </v-card-actions>
                                        </v-card>
                                    </v-dialog></td>
                                </template>
                                <template slot="pageText" scope="{ pageStart, pageStop }">
                                    From {{ pageStart }} to {{ pageStop }}
                                </template>
                            </v-data-table>
                        </v-card>
                    </template>
                </v-container>
            </main>
        </template>
    </v-app>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src='https://unpkg.com/vue/dist/vue.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/locale/fr.js"></script>
<script src='../js/vuetify.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.9.1/sweetalert2.min.js"></script>
<script src="https://cdn.jsdelivr.net/vue.resource/1.2.0/vue-resource.min.js"></script>
<script src="gestionReclamation.js"></script>

</body>

</html>