<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Gestion des produits</title>


    <link rel='stylesheet prefetch'
          href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons'>
    <link rel='stylesheet prefetch' href='../js/vuetify.min.css'>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="stylesheet" href="../css/style.css">
    <style>
        a {
            text-decoration: none;
            color: black;
        }

        .layout.row.justify-space-around {
            background: none;
        }

        .showColor {
            height: 50px;
            width: 100%;
        }

        .showImg {
            width: 150px;
            height: 150px;
            margin-left: 4pc;
        }

        .selectedProduct {
            background: green;
        }

        .whiteCross {
            color: white !important;
        }
    </style>

</head>

<body>
<div id="app">
    <v-app id="inspire">
        <v-navigation-drawer persistent light v-model="drawer">
            <v-list>
                <v-list-item>
                    <v-list-tile>
                        <v-list-tile-action>
                            <v-icon>build</v-icon>
                        </v-list-tile-action>
                        <v-list-tile-content>
                            <v-list-tile-title>
                                <a href="../gestionGamme/gestionGammes.html">Gestion des gammes</a>
                            </v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                </v-list-item>
                <v-list-item>
                    <v-list-tile>
                        <v-list-tile-action>
                            <v-icon>invert_colors</v-icon>
                        </v-list-tile-action>
                        <v-list-tile-content>
                            <v-list-tile-title>
                                <a href="../gestionCouleur/gestionCouleur.html"> Gestion des couleurs</a>
                            </v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                </v-list-item>

                <v-divider></v-divider>
                <v-list-item>
                    <v-list-tile>
                        <v-list-tile-action>
                            <v-icon>note_add</v-icon>
                        </v-list-tile-action>
                        <v-list-tile-content>
                            <v-list-tile-title>
                                <a href="../gestionProduit/gestionProduit.html"> Gestion des produits</a>
                            </v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                </v-list-item>


                <v-list-tile>
                    <v-list-tile-action>
                        <v-icon>store</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title>
                           <a href="../gestionCommande/gestionCommande.html">Suivi des commandes</a>
                        </v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
                </v-list-item>

            </v-list>
        </v-navigation-drawer>
        <v-toolbar fixed class="grey darken-3" light>
            <v-toolbar-side-icon light @click.native.stop="drawer = !drawer"></v-toolbar-side-icon>
            <v-toolbar-title>Gestion des produits</v-toolbar-title>
        </v-toolbar>
        <template>

            <main class="linear">
                <v-container fluid>
                            <v-card>
                                <v-card-title>
                                    Produits
                                    <v-spacer></v-spacer>
                                    <v-text-field append-icon="search" label="Rechercher un produit" single-line
                                                  hide-details v-model="search"></v-text-field>
                                </v-card-title>
                                <v-data-table class="flex" v-bind:headers="headers" v-bind:items="items" v-bind:search="search">
                                    <template slot="items" scope="props">
                                        <td class="text-xs-right">{{ props.item.gamme }}</td>
                                        <td class="text-xs-right">
                                            <template>
                                                <v-layout row justify-center>
                                                    <v-dialog v-model="seeColor" scrollable persistent>
                                                        <v-btn @click.native="showCurrentColorOfProduct($event, props)"
                                                               secondary light slot="activator">
                                                            <v-icon light
                                                                    @click.native="showCurrentColorOfProduct($event, props)">
                                                                remove_red_eye
                                                            </v-icon>
                                                        </v-btn>
                                                        <v-card>
                                                            <v-card-row>
                                                                <v-card-title>Couleurs du produit</v-card-title>
                                                            </v-card-row>

                                                            <v-card-row style="height : 300px;"
                                                                        v-for="couleur in couleurToShow">
                                                                <div class="showColor"
                                                                     v-bind:style="{background : couleur.colorName}"></div>

                                                            </v-card-row>
                                                            <v-card-row actions>
                                                                <v-btn class="green--text darken-1" flat="flat"
                                                                       @click.native="seeColor = false">Fermer
                                                                </v-btn>

                                                            </v-card-row>
                                                        </v-card>
                                                    </v-dialog>
                                                </v-layout>
                                            </template>
                                        </td>
                                        <td class="text-xs-right">

                                            <template>
                                                <v-layout row justify-center>
                                                    <v-dialog v-model="seeVisual" scrollable persistent>
                                                        <v-btn @click.native="showCurrentVisualOfproduct($event, props)"
                                                               primary light slot="activator">
                                                            <v-icon light>remove_red_eye</v-icon>
                                                        </v-btn>
                                                        <v-card>
                                                            <v-card-row>
                                                                <v-card-title>Visuels du produit</v-card-title>
                                                            </v-card-row>
                                                            <v-card-row v-for="img in visualToShow">

                                                                <li style="display: inline"><img class="showImg"
                                                                                                 v-bind:src="img">
                                                                </li>
                                                            </v-card-row>
                                                            <v-card-row actions>
                                                                <v-btn class="green--text darken-1" flat="flat"
                                                                       @click.native="seeVisual = false">Fermer
                                                                </v-btn>

                                                            </v-card-row>
                                                        </v-card>
                                                    </v-dialog>
                                                </v-layout>
                                            </template>
                                        </td>
                                        <td class="text-xs-right">{{ props.item.poid }}</td>
                                        <td class="text-xs-right">{{ props.item.prix }} €</td>
                                        <td class="text-xs-right">{{ props.item.prixpromotion }} €</td>
                                        <td class="text-xs-right">
                                            <v-btn @click.native="deleteProduit($event, props.item)" icon ripple>
                                                <v-icon class="grey--text text--lighten-1">delete</v-icon>
                                            </v-btn>
                                            <v-btn @click.native="getCurrentProduit($event, props.item)" icon ripple>
                                                <v-icon class="grey--text text--lighten-1">mode_edit</v-icon>
                                            </v-btn>
                                        </td>

                                    </template>
                                    <template slot="pageText" scope="{ pageStart, pageStop }">
                                        From {{ pageStart }} to {{ pageStop }}
                                    </template>
                                </v-data-table>
                            </v-card>
                            <v-dialog fullscreen v-model="dialog" scrollable transition="v-dialog-bottom-transition"
                                      :overlay=false>

                                <v-btn style=" position: fixed;
    right: 30px;
    bottom: 30px;" slot="activator" floating class="grey darken-2">
                                    <v-icon light>add</v-icon>
                                </v-btn>

                                <v-card>
                                    <v-card-row>
                                        <v-toolbar light>
                                            <v-btn icon="icon" @click.native="cancelAction" light>
                                                <v-icon>close</v-icon>
                                            </v-btn>
                                            <v-toolbar-title v-if="createModalTitle === true">
                                            </v-toolbar-title>
                                            <v-toolbar-title v-if="editModalTitle === true">
                                            </v-toolbar-title>
                                            <v-btn v-if="createModalTitle === true" light flat
                                                   @click.native="addProduit">Enregistrer
                                            </v-btn>
                                            <v-btn v-if="editModalTitle === true" light flat
                                                   @click.native="editProduit">Enregistrer
                                            </v-btn>

                                            <template>
                                                <v-layout row justify-center>
                                                    <v-dialog v-model="saveModal" persistent>

                                                        <v-card>
                                                            <v-card-row>
                                                                <v-card-title>Sauvegarde en cours, veuillez
                                                                    patienter...
                                                                </v-card-title>
                                                            </v-card-row>
                                                            <v-card-row>
                                                                <v-card-text></v-card-text>
                                                            </v-card-row>
                                                            <v-card-row actions>

                                                            </v-card-row>
                                                        </v-card>
                                                    </v-dialog>
                                                </v-layout>
                                            </template>


                                        </v-toolbar>
                                    </v-card-row>

                                    <template>
                                        <v-flex 12>
                                        <v-text-field type="text" label="Face avant"
                                                      v-model="faceavant" required></v-text-field>
                                        </v-flex>
                                        <v-flex 12>
                                        <v-text-field type="text" label="Face arrière"
                                                      v-model="facearriere" required></v-text-field>
                                        </v-flex>
                                            <v-flex 12>
                                        <v-text-field type="text" label="Coté"
                                                      v-model="cote" required></v-text-field>
                                            </v-flex>
                                    </template>
                                    <v-divider></v-divider>
                                    <v-list three-line subheader>
                                        <v-subheader>Informations générales</v-subheader>
                                        <v-list-item>
                                            <v-container fluid>
                                                <v-layout row wrap>
                                                    <v-flex xs6>
                                                        <v-select v-bind:items="gammeList" v-model="produit.gamme"
                                                                  label="Gamme" dark single-line
                                                                  auto></v-select>
                                                    </v-flex>
                                                    <v-flex xs6>
                                                        <v-select label="Couleurs"
                                                                  v-bind:items="couleurList" v-model="produit.couleur"
                                                                  multiple dark max-height="400"
                                                                  persistent-hint></v-select>
                                                    </v-flex>
                                                    <v-flex xs6>
                                                        <v-select label="Tailles"
                                                                  v-bind:items="tailles" v-model="produit.tailles"
                                                                  multiple dark max-height="400"
                                                                  persistent-hint></v-select>
                                                    </v-flex>

                                                    <v-flex xs6>
                                                        <v-select v-bind:items="genreList" v-model="produit.genre"
                                                                  label="Genre" dark single-line
                                                                  auto></v-select>
                                                    </v-flex>
                                                    <v-flex xs6>
                                                        <v-text-field type="number" step="0.01" label="Poids (gramme)"
                                                                      v-model="produit.poid" required></v-text-field>
                                                    </v-flex>
                                                    <v-flex xs6>
                                                        <v-text-field type="number" step="0.01"
                                                                      label="Prix (euros - TTC)"
                                                                      v-model="produit.prix" required></v-text-field>

                                                    </v-flex>
                                                    <v-flex xs6>
                                                        <v-text-field type="number" step="0.01" label="Prix promotion (euros - TTC)"
                                                                      v-model="produit.prixpromotion"
                                                                      required></v-text-field>


                                                    </v-flex>
                                                    <v-flex xs6>
                                                        <v-checkbox label="Impression face ?"
                                                                    v-model="produit.printfacepossible"
                                                                    dark></v-checkbox>
                                                    </v-flex>


                                                </v-layout>
                                            </v-container>


                                        </v-list-item>
                                        <v-list-item>

                                        </v-list-item>
                                        <v-list-item>

                                        </v-list-item>
                                    </v-list>
                                </v-card>
                            </v-dialog>

                        </template>
                </v-container>
        </template>
        <v-snackbar :timeout="timeout" :top="y === 'top'" :bottom="y === 'bottom'" :right="x === 'right'"
                    :left="x === 'left'" :multi-line="mode === 'multi-line'"
                    :vertical="mode === 'vertical'" v-model="snackbar">
            {{ successtext }}
            <v-btn flat class="yellow--text" @click.native="snackbar = false">Fermer</v-btn>
        </v-snackbar>
        <v-snackbar :timeout="timeout" :top="y === 'top'" :bottom="y === 'bottom'" :right="x === 'right'"
                    :left="x === 'left'" :multi-line="mode === 'multi-line'"
                    :vertical="mode === 'vertical'" v-model="formSnackbar">
            Les champs suivants sont manquants ou incorrect : {{ notificationError }}

        </v-snackbar>
        <v-snackbar :timeout="timeout" :top="y === 'top'" :bottom="y === 'bottom'" :right="x === 'right'"
                    :left="x === 'left'" :multi-line="mode === 'multi-line'"
                    :vertical="mode === 'vertical'" v-model="editsnackbar">
            {{ edittextsuccess }}
            <v-btn flat class="yellow--text" @click.native="editsnackbar = false">Fermer</v-btn>
        </v-snackbar>
        <v-snackbar :timeout="timeout" :top="y === 'top'" :bottom="y === 'bottom'" :right="x === 'right'"
                    :left="x === 'left'" :multi-line="mode === 'multi-line'"
                    :vertical="mode === 'vertical'" v-model="deletesnackbar">
            {{ deletesuccess }}
            <v-btn flat class="yellow--text" @click.native="deletesnackbar = false">Fermer</v-btn>
        </v-snackbar>
    </v-app>
</div>
<script src='https://unpkg.com/vue/dist/vue.js'></script>
<script src='../js//vuetify.min.js'></script>
<script src="https://cdn.jsdelivr.net/vue.resource/1.2.0/vue-resource.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<script src="gestionProduit.js"></script>

</body>

</html>