<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Protoyping param-screen</title>


  <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons'>
  <link rel='stylesheet prefetch' href='../js/vuetify.min.css'>
  <link ref="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
  <link rel="stylesheet" href="
https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.9.1/sweetalert2.min.css">
  <meta name="viewport" content="width=device-width, user-scalable=no">

  <link rel="stylesheet" href="../css/style.css">

<style>
  a {
    text-decoration: none;
    color: black;
  }
  .btn {
    min-width: 0px!important;
  }
</style>

</head>

<body>
  <div id="app">
    <v-app id="inspire">
           <v-navigation-drawer persistent light  v-model="drawer">
        <v-list @click.native.stop="mini = !mini">
          <v-list-item>
            <v-list-tile>
              <v-list-tile-action>
                <v-icon>build</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>
                  <a href="../gestionGamme/gestionGammes.html">Gestion des gammes</a>
                </v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
          </v-list-item>
          <v-list-item>
            <v-list-tile>
              <v-list-tile-action>
                <v-icon>invert_colors</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>
                 <a href="../gestionCouleur/gestionCouleur.html"> Gestion des couleurs</a>
                </v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
          </v-list-item>


           <v-divider></v-divider>
          <v-list-item>
            <v-list-tile>
              <v-list-tile-action>
                <v-icon>note_add</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>
                  <a href="../gestionProduit/gestionProduit.html"> Gestion des produits</a>
                </v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
          </v-list-item>

          <v-list-tile>
            <v-list-tile-action>
              <v-icon>store</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>
                <a href="../gestionCommande/gestionCommande.html">Suivi des commandes</a>
              </v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          </v-list-item>
         
        </v-list>
      </v-navigation-drawer>
      <v-toolbar fixed class="grey darken-3" light>
        <v-toolbar-side-icon light @click.native.stop="drawer = !drawer"></v-toolbar-side-icon>
        <v-toolbar-title>Gestion des gammes</v-toolbar-title>
      </v-toolbar>
      <template>
        <main class="linear">
          <v-container fluid>

            <v-list style="    background: white;
    color: black;">
    
              <v-list-group v-for="item in gammeList" :value="item.name" v-bind:key="item.name">
                <v-list-tile slot="item">
                  <v-list-tile-action>
                    <v-icon><i class="material-icons">extension</i></v-icon>
                  </v-list-tile-action>
                  <v-list-tile-content>
                    <v-list-tile-title>{{ item.name }}</v-list-tile-title>
                  </v-list-tile-content>
                  <template>
                    <v-layout row justify-center>
                      <v-dialog v-model="deleteDialog" persistent>
                        <v-card>
                          <v-card-text>Etes-vous sur de vouloir supprimer cette gamme ? </v-card-text>
                          <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn class="green--text darken-1" flat="flat" @click.native="deleteCurrentGamme()">Confirmer</v-btn>
                            <v-btn class="green--text darken-1" flat="flat" @click.native="deleteDialog = false">Annuler</v-btn>
                          </v-card-actions>
                        </v-card>
                      </v-dialog>
                    </v-layout>
                  </template>
                    <v-btn small class="grey--text darken-1" flat @click.native="getCurrentGammeToDelete($event, item)"><i class="material-icons">delete</i></v-btn>
                  <v-btn small class="grey--text darken-1" flat @click.native="getCurrentGamme($event, item)"><i class="material-icons">mode_edit</i></v-btn>
                </v-list-tile>
              </v-list-group>
            </v-list>
            <v-dialog v-model="dialog">

              <v-btn style="    position: fixed;
    right: 30px;
    bottom: 30px;" slot="activator" @click.native='createModalGamme = true, gamme.name = ""' floating class="grey darken-2">
                <v-icon light>add</v-icon>
              </v-btn>
              <v-card>
                <v-card-row>
                  <v-card-title v-if="createModalGamme === true">Ajouter une gamme</v-card-title>
                  <v-card-title v-if="editModalGamme === true">Editer une gamme</v-card-title>
                </v-card-row>
                <v-card-row>
                  <v-card-text>
                    <v-text-field v-model="gamme.name" label="Nom de la gamme" required></v-text-field>
                  </v-card-text>
                </v-card-row>
                <v-card-row actions>
                  <v-btn class="blue--text darken-1" flat @click.native='dialog = false, editModalGamme = false, gamme.name = copyGamme'>Annuler</v-btn>
                  <v-btn class="blue--text darken-1" v-if="createModalGamme === true" flat @click.native="addGamme">Enregistrer</v-btn>

                  <v-btn class="blue--text darken-1" v-if="editModalGamme === true" flat @click.native="editGamme">Enregistrer</v-btn>
                </v-card-row>
              </v-card>
            </v-dialog>
            <v-snackbar :timeout="timeout" :top="y === 'top'" :bottom="y === 'bottom'" :right="x === 'right'" :left="x === 'left'" :multi-line="mode === 'multi-line'"
              :vertical="mode === 'vertical'" v-model="snackbar">
              {{ successtext }}
              <v-btn flat class="yellow--text" @click.native="snackbar = false">Fermer</v-btn>
            </v-snackbar>
            <v-snackbar :timeout="timeout" :top="y === 'top'" :bottom="y === 'bottom'" :right="x === 'right'" :left="x === 'left'" :multi-line="mode === 'multi-line'"
              :vertical="mode === 'vertical'" v-model="emptyForm">
              {{ emptyFormText }}
              <v-btn flat class="yellow--text" @click.native="snackbar = false">Fermer</v-btn>
            </v-snackbar>
            <v-snackbar :timeout="timeout" :top="y === 'top'" :bottom="y === 'bottom'" :right="x === 'right'" :left="x === 'left'" :multi-line="mode === 'multi-line'"
              :vertical="mode === 'vertical'" v-model="editsnackbar">
              {{ edittextsuccess }}
              <v-btn flat class="yellow--text" @click.native="editsnackbar = false">Fermer</v-btn>
            </v-snackbar>
            <v-snackbar :timeout="timeout" :top="y === 'top'" :bottom="y === 'bottom'" :right="x === 'right'" :left="x === 'left'" :multi-line="mode === 'multi-line'"
              :vertical="mode === 'vertical'" v-model="deletesnackbar">
              {{ deletesuccess }}
              <v-btn flat class="yellow--text" @click.native="deletesnackbar = false">Fermer</v-btn>
            </v-snackbar>
            </v-card>
          </v-container>
        </main>
      </template>
    </v-app>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script src='https://unpkg.com/vue/dist/vue.js'></script>
  <script src='../js/vuetify.min.js'></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.9.1/sweetalert2.min.js"></script>
  <script src="https://cdn.jsdelivr.net/vue.resource/1.2.0/vue-resource.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
  <script src="gestionGammesCtrl.js"></script>

</body>

</html>